/*==========
Set global variables
==========*/

:root {
  --color-primary: #93cdc3;
  --color-secondary: #71bcb1;
  --color-light: #f7f7f7;
  --color-dark: #333;
  --measure: 55ch;
  --font-main: "Merriweather Sans", sans-serif;
}

/* Declare fonts */

@font-face {
  font-display: swap;
  font-family: "Merriweather Sans";
  src: url("/fonts/MerriweatherSans-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Merriweather Sans";
  src: url("/fonts/MerriweatherSans-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-display: swap;
  font-family: "Merriweather Sans";
  src: url("/fonts/MerriweatherSans-Italic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: "Merriweather Sans";
  src: url("/fonts/MerriweatherSans-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
}

/* Set proper box sizing, default width, font size */
* {
  box-sizing: border-box;
  max-width: var(--measure);
}

body {
  font-size: clamp(0.875rem, 100% + 0.25vw, 1.5rem);
  font-family: var(--font-main);
}

/* Remove max-width from container elements */

html,
body,
div,
section,
header,
nav,
main,
footer {
  max-width: none;
}

h1 {
  font-size: 2em;
}

/* Basic reset */

html,
body,
img {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}

.alt-bg {
  background: var(--color-light);
}

/*==========
Hero section
==========*/

.hero {
  position: relative;
  background: url("/img/lab_web2.png") bottom right/auto 40% no-repeat,
    url("/img/blurred_bg.jpg") center/cover;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero::before {
  position: absolute;
  content: "";
  background: var(--color-secondary);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
}

.hero > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.hero * {
  z-index: 1;
}
.hero img {
  margin: 0.5rem;
  max-width: min(20em, 80%);
}

.hero p {
  text-align: center;
  color: var(--color-light);
  font-size: 1.5em;
}

.hero a {
  text-decoration: none;
  border: 3px solid var(--color-primary);
  border-radius: 6px;
  color: var(--color-light);
  padding: 0.5em 0.75em;
}

/*==========
Nav Section
==========*/

nav {
  width: 100%;
  background-color: var(--color-primary);
  /* min-height: 5rem; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 1em;
  /* flex-direction: column; */
}

nav img {
  margin: 0 auto;
  max-width: min(15em, 60%);
  padding: 0.5em;
  align-content: flex-start;
}

nav i {
  justify-content: center;
  align-content: flex-start;
  margin: auto 2rem auto 0;
  color: var(--color-light);
}

.navToggle {
  transition: transform 400ms;
}
.navToggle-hide {
  transform: translateX(100%);
}

/* Make nav take up entire screen & each nav link is 100% width */

/* Add hamburger icon */

/* create toggle class to show/hide nav menu */

/* add to media query below to change nav from column layout to row layout */

/*==========
Problem Section
==========*/

#problem,
#solution {
  flex-basis: 43.75em;
  flex-grow: 1;
  margin: 5em 0;
}

#problem > *:first-child {
  text-align: center;
  padding: 2em 0.5em 2em 0.5em;
}

#problem h4 {
  font-weight: 500;
  font-size: 1.5em;
  color: var(--color-dark);
  margin: 0 0 0.3em 0;
  padding: 0;
}

#problem h3 {
  font-weight: 500;
  font-size: 2em;
  color: var(--color-dark);
  margin: 0 0 1em 0;
  padding: 0;
}

#problem ul {
  margin: 0 auto 0 auto;
}

#problem ul li {
  text-align: left;
  margin: 0 0 1em 0;
}

#problem-bg {
  position: relative;
  background: url("/img/at-pc.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#problem-bg::before {
  position: absolute;
  content: "";
  background: var(--color-light);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
}

#problem-bg p {
  z-index: 2;
  padding: 2em 2em 0 2em;
  text-align: center;
}

.quote-sig {
  padding: 0 2em 2em 2em !important;
}
/*==========
MEDIA QUERIES
==========*/

@media (min-width: 37.5em) {
  .hero > div,
  #problem h4 {
    margin: auto;
  }

  nav img {
    margin: 0;
  }

  #problem {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: row;
  }

  #problem > *:first-child {
    justify-content: flex-start;
    width: 50%;
  }

  #problem > *:last-child {
    justify-content: flex-end;
    width: 50%;
  }
}
