/*==========
Set global variables
==========*/

:root {
  --color-primary: #93cdc3;
  --color-secondary: #71bcb1;
  --color-light: #f7f7f7;
  --color-dark: #333;
  --measure: 55ch;
  --font-main: "Merriweather Sans", sans-serif;
}

/* Declare fonts */

@font-face {
  font-display: swap;
  font-family: "Merriweather Sans";
  src: url("/fonts/MerriweatherSans-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Merriweather Sans";
  src: url("/fonts/MerriweatherSans-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-display: swap;
  font-family: "Merriweather Sans";
  src: url("/fonts/MerriweatherSans-Italic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: "Merriweather Sans";
  src: url("/fonts/MerriweatherSans-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
}

/* Set proper box sizing, default width, font size */
* {
  box-sizing: border-box;
  max-width: var(--measure);
}

body {
  font-size: clamp(0.875rem, 100% + 0.25vw, 1.5rem);
  font-family: var(--font-main);
}

/* Remove max-width from container elements */

html,
body,
div,
section,
header,
nav,
main,
footer {
  max-width: none;
}

h1 {
  font-size: 2em;
}

/* Basic reset */

html,
body,
img {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}

/*==========
Hero section
==========*/

.hero {
  position: relative;
  background: url("/img/lab_web2.png") bottom right/auto 50% no-repeat,
    url("/img/blurred_bg.jpg") center/cover;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero::before {
  position: absolute;
  content: "";
  background: var(--color-secondary);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
}

.hero > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.hero * {
  z-index: 1;
}
.hero img {
  margin: 0.5rem;
  max-width: min(20em, 80%);
}

.hero p {
  text-align: center;
  color: var(--color-light);
}

.hero a {
  text-decoration: none;
  border: 3px solid var(--color-primary);
  border-radius: 6px;
  color: var(--color-light);
  padding: 0.5em 0.75em;
}

/*==========
Nav Section
==========*/

#nav-bar header {
  background: var(--primary-color);
  text-align: center;
  position: sticky;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  right: 0;
  background: var(--primary-color);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #f7f7f7;
  text-decoration: none;
  /*   font-size: 1.2rem; */
  /*   text-transform: uppercase; */
  font-size: 18px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #333;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

#nav-image {
  max-width: 200px;
  width: 200px;
  align-self: center;
  margin: 1rem 0 1rem 0;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  #nav-bar header {
    display: grid;
    grid-template-columns: 4fr auto minmax(1fr, 100%) 1fr;
    align-items: center;
  }

  #nav-bar ul {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    right: 0;
    margin: 0 1rem 0 0;
  }

  #nav-image {
    margin: 1rem 0 1rem 1rem;
  }

  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
    font-weight: 300;
    color: #f7f7f7;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/*==========
Problem Section
==========*/

/*==========
MEDIA QUERIES
==========*/

@media (min-width: 37.5em) {
  .hero > div {
    margin: auto;
  }
}
