* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

/* Create four equal columns */
.column {
  flex: 50%;
  padding: 20px;
  justify-content: center;
  align-self: center;
  outline: 1px solid green;
  z-index: 999;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 1000px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
  }

  .left-side {
    margin: 10vh 0 0 0;
  }
  .column {
    text-align: center;
  }
}

#hero {
  height: 100vh;
  background: url("https://www.labradorconnect.com/images/retina_2.jpg") right
    center/cover;
  background-repeat: no-repeat;
  padding: 0 !important;
}

@media screen and (min-width: 1px) and (max-width: 1000px) {
  #hero {
    height: 100vh;
    background: url("https://www.labradorconnect.com/images/portrait.jpg")
      center bottom/cover !important;
    background-repeat: no-repeat;
  }

  .btn {
    margin: 5rem 0 0 0;
  }

  .hide-on-mobile {
    display: none;
  }
}

.logo img {
  max-width: 100%;
}

.logo-text p {
  font-size: clamp(0.5rem, -0.775rem + 10vw, 1.5rem);
  color: var(--primary-font-color);
}

/* #hero::before {
  content: "";
  background: rgba(147, 205, 195, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
} */

.left-hero,
.right-hero {
  z-index: 999;
  padding: 0 2rem;
  flex-wrap: wrap;
  flex-grow: 1;
  width: max(50%, 500px);
}

.left-hero {
  display: flex;
  justify-content: center;
  align-self: center;
  outline: 1px solid purple;
  flex-direction: column;
  text-align: center;
}

.left-hero p {
  color: var(--primary-font-color);
  font-size: clamp(1.5rem, -0.775rem + 5.333vw, 0.75rem);
  line-height: auto;
  margin: 2rem 0 2rem 5rem;
}

.right-hero {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  outline: 1px solid green;
  margin: 0;
  padding: 0;
}

.right-hero img {
  max-width: 75%;
}

/* Nav */
#nav-bar header {
  background: var(--primary-color);
  text-align: center;
  position: sticky;
  z-index: 999;
  width: 100%;
}

/* changed this from the tutorial video to
               allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  right: 0;
  background: var(--primary-color);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #f7f7f7;
  text-decoration: none;
  /*   font-size: 1.2rem; */
  /*   text-transform: uppercase; */
  font-size: calc(12px + 0.8vw);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #333;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

#nav-image {
  max-width: 200px;
  width: 200px;
  align-self: center;
  margin: 1rem 0 1rem 0;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  #nav-bar header {
    display: grid;
    grid-template-columns: 4fr auto minmax(1fr, 100%) 1fr;
    align-items: center;
  }

  #nav-bar ul {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    right: 0;
    margin: 0 1rem 0 0;
  }

  #nav-image {
    margin: 1rem 0 1rem 1rem;
  }

  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
    font-weight: 300;
    color: #f7f7f7;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

:root {
  --primary-color: #93cdc3;
  --secondary-color: #71bcb1;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1500px;
  --primary-font-color: #f7f7f7;
  --button-bg: #f7f7f7;
  --cera-pro: "Cera Pro", sans-serif;
  --merriweather: "Merriweather Sans", sans-serif;
  --main-radius: 5px;
  --main-padding: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

a {
  cursor: pointer;
}

.sticky {
  overflow: hidden;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  z-index: 999;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

body {
  font-family: var(--merriweather), sans-serif;
  color: #333333;
}

h2 {
  font-family: var(--cera-pro);
  font-weight: 600;
  font-size: calc(14px + 0.8vw);
  line-height: 2rem;
  color: #333333;
}

h3 {
  font-family: var(--cera-pro);
  font-weight: 600;
  font-size: calc(14px + 0.8vw);
  line-height: 2rem;
  color: #333333;
}

h4 {
  font-family: var(--merriweather);
  font-weight: 500;
  font-size: calc(14px + 0.8vw);
  line-height: 1.75rem;
  color: #333333;
}

h5 {
  font-family: var(--merriweather);
  font-weight: 700;
  font-size: clamp(0.5rem, -0.775rem + 5.333vw, 3.5rem);
}

h6 {
  font-family: var(--merriweather);
  font-weight: 300;
  font-size: clamp(0.5rem, -0.775rem + 2.86vw, 3.5rem);
}

p {
  font-size: calc(10px + 0.5vw);
  color: #333333;
  font-family: var(--merriweather);
  font-weight: 300;
  line-height: auto;
}

section {
  padding: 5rem 2rem;
}

.alt-bg {
  background: #f7f7f7;
}

.btn {
  display: inline-block;
  color: #f7f7f7;
  padding: 0.5rem 1.5rem;
  margin: 0 0 0 4rem;
  text-decoration: none;
}

.btn-light {
  background: var(--light-color);
}
.btn-primary {
  background: transparent;
  border: 2px solid rgba(247, 247, 247, 0.4);
}
.btn-secondary {
  background: var(--secondary-color);
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1px) and (max-width: 1000px) {
  .mobile-center {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1px) and (max-width: 500px) {
  .btn {
    margin: 2rem 0 0 0 !important;
  }
}

@media screen and (min-width: 501px) and (max-width: 999px) {
  .hero_content {
    grid-template-rows: 1fr 0.75fr !important;
  }
}

.hero2 {
  height: 100vh;
  background: url("https://www.labradorconnect.com/images/blurred_bg.jpg")
    center center/cover;
  background-repeat: no-repeat;
}

/* url("https://www.labradorconnect.com/images/lab_web.png") */

/* .hero2::before {
  content: "";
  background: rgba(147, 205, 195, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
} */
