/*==========
Set global variables
==========*/

:root {
  --color-primary: #93cdc3;
  --color-secondary: #71bcb1;
  --color-light: #f7f7f7;
  --color-dark: #333;
  --measure: 55ch;
  --font-main: "Merriweather Sans", sans-serif;
  --font-heading: "Cera Pro", sans-serif;
}

/* Set proper box sizing, default width, font size */
* {
  box-sizing: border-box;
  max-width: var(--measure);
}

body {
  font-size: clamp(1rem, 0.875rem + 0.25vw, 1.5rem);
  font-family: var(--font-main);
}

h1, h2, h3, h4 { font-family:  var(--font-heading); }

h2 {
  text-transform: uppercase;
}

/* Remove max-width from container elements */

html,
body,
div,
section,
header,
nav,
main,
footer {
  max-width: none;
}

/* Basic reset */

html,
body,
img {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}

section {
  box-sizing: content-box;
  width: min(90%, 90ch);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

section:nth-of-type(2n+1) {
  background: var(--color-light);
}


/* Design primitives */
.switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.switcher > * {
  flex-grow: 1;
  flex-basis: 20rem;
}



/*==========
Hero section
==========*/

.hero {
  position: relative;
  background: url("/img/lab_web2.webp") bottom right/auto 45% no-repeat,
    url("/img/blurred_bg.webp") center/cover;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero::before {
  position: absolute;
  content: "";
  background: var(--color-secondary);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
}

.hero > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.hero * {
  z-index: 1;
}
.hero img {
  margin: 0.5rem;
  max-width: min(20em, 80%);
}

.hero p {
  text-align: center;
  color: var(--color-light);
}

.hero a {
  text-decoration: none;
  border: 3px solid var(--color-primary);
  border-radius: 6px;
  color: var(--color-light);
  padding: 0.5em 0.75em;
}





/*==========
Nav Section
==========*/

nav {
  background: var(--color-light);
  position: sticky;
  top: 0;
  z-index: 1;
}

.hamburger {
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  margin: 0;
  z-index: 5;
}

nav ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0 auto;
  background: var(--color-light);
  transition: transform 400ms;
  transform: scaleX(0);
  transform-origin: left;
}

.navShowHide {
  transform: scaleX(1);
}

nav li {
  flex-grow: 1;
  list-style: none;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}




/*==========
Problem Section
==========*/

#problem > div {
  display: flex;
  justify-content: space-between;
}

#problem > .switcher > * {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.problem-bg {
  position: relative;
  background: url("../img/at-pc.webp") center right/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.problem-bg::before {
  position: absolute;
  content: "";
  background: var(--color-light);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
}

.problem-bg > p { z-index: 1; text-align: center; }



/*==========
SOLUTIONS SECTION
==========*/

#solution > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#solution { margin-bottom: 1.5em; }

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
}

.steps > * {
  text-align: center;
  padding: 0;
  margin: 0;
}

.steps > *:first-of-type,
.steps > *:last-of-type {
  background-color: #eee;
}

#solution h3 {
  line-height: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}





/*==========
BENEFITS SECTION
==========*/

#benefits > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


/*==========
TEAM SECTION
==========*/

#team > .switcher { max-width: 35rem; }

#team > .switcher > * {
  text-align: center;
  margin: 1em;
  flex-basis: 10em;
}
.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socials img {
  width: 1.5em;
  height: 1.5em;
}

/*==========
CONTACT SECTION
==========*/

fieldset + fieldset {margin-top: 1em;}

fieldset {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label { width: 8em; }

input { font-size: inherit; font-family: inherit; }

input:not([type="submit"]), textarea {
  width: min(50%, var(--measure));
  margin-left: auto;
  flex-grow: 1;
}

textarea {
  font-family: inherit;
  height: 15em;
  resize: none;
}


/*==========
MEDIA QUERIES
==========*/

@media (min-width: 37.5em) {
  .hero > div {
    margin: auto;
  }

  nav {
    display: flex;
  }
  /* .hamburger { display: none;} */
  nav ul {
    flex-grow: 999;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    width: initial;
    height: initial;
    flex-direction: row;
    justify-content: space-evenly;
    /* transform: translateX(0); */
  }

  #benefits > div { flex-direction: row; }
  #benefits > div > * { width: 45%; }
}

@media (min-width: 56.25em) {
  #solution > div {
    flex-direction: row;
  }

  #solution > div > * { width: 45%; }

  #team > .switcher { max-width: initial;}
}