/*  GRID OF TWO   ============================================================================= */

/*
.span_2_of_2 {
	width: 70%;
}

.span_1_of_2 {
	width: 30%;
	overflow: hidden !important;
	height: 100vh;

}*/
/*
.span_1_of_2_right {
	
	overflow: hidden !important;
	height: 100%;
	float: right;
}

.span_1_of_2_right img {
	
height: 99vh;
overflow: hidden !important;

	
	
}*/

html, body {height: 100%; overflow: hidden;}

@media only screen and (min-width: 1025px) {
	.span_1_of_2_right {
	
	overflow: hidden !important;
	height: 100%;
	width: 50%;
	float: right;
	
}



.span_1_of_2_right img {
	
width: 100%;
overflow: hidden !important;


	
	
}

.span_1_of_2 {width: 50% !important;}


		.span_1_of_2 img {
		
		float: left;
		padding-top: 40vh;
		padding-left: 5vh;
		 max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
		
	}
	
	.col {float: left;}
}


@media only screen and (min-width: 481px) and (max-width: 1024px) {
	.span_1_of_2_right {
	
	overflow: hidden !important;
	

	
}
	.span_1_of_2_right img {
	
	height: 100% !important;


	
}


		.span_1_of_2 img {
		
		padding-top: 5vh !important;
		padding-bottom: 1vh !important;
		
		height: 100% !important;
		
	}
	

	
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_1_of_2_right {
	
	overflow: hidden !important;
	width: 100% !important;
	height: 100% !important;

	
}

	.span_1_of_2_right img {
	
	
	overflow: hidden !important;
    height: 100% !important;

	
	

	
}

		.span_1_of_2 img {
		
		padding-top: 5vh !important;
		padding-bottom: 2vh !important;
		
		width: 100% !important;
		
	}
	

	
}
